<h1 class="text-center" *ngIf="!update && isSpent"> Ajouter une dépense </h1>
<h1 class="text-center" *ngIf="!update && !isSpent"> Ajouter un revenu </h1>
<h1 class="text-center" *ngIf="update && isSpent"> Modifer une dépense </h1>
<h1 class="text-center" *ngIf="update && !isSpent"> Modifer un revenu </h1>
<form #createForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <label class="form-group has-float-label">
        <input class="form-control" style="padding: .8rem; font-size: 1.1rem" required #des="ngModel" name="designation"
            [(ngModel)]="finance.label" />
        <span style="font-size: 100% !important;">Désignation</span>
        <div *ngIf="!des.valid && createForm.submitted" class="invalid-tooltip">Champ requis!</div>
    </label>
    <label class="form-group has-float-label">
        <input class="form-control" style="padding: .8rem; font-size: 1.1rem" required #price="ngModel" name="prix"
            [(ngModel)]="finance.amount" />
        <span style="font-size: 100% !important;">Montant</span>
        <div *ngIf="!price.valid && createForm.submitted" class="invalid-tooltip">Champ requis!</div>
    </label>
    <label class="form-group has-float-label">
        <input class="form-control" style="padding: .8rem; font-size: 1.1rem" type="date" required #dt="ngModel" name="date"
            [(ngModel)]="finance.date" [value]='dateToSee' />
        <span style="font-size: 100% !important;">Date</span>
        <div *ngIf="!dt.valid && createForm.submitted" class="invalid-tooltip">Champ requis!</div>
    </label>
    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-lg btn-shadow btn-danger" (click)="onNoClick()"> Annuler </button>
        <app-state-button [btnClass]="'btn btn-gradiant btn-lg btn-shadow'" [currentState]="buttonState"
            [isDisabled]="buttonDisabled || createForm.invalid" click="onSubmit()">
            <span *ngIf="!update">Créer</span>
            <span *ngIf="update">Modifier</span>
        </app-state-button>
    </div>
</form>

<simple-notifications></simple-notifications>