<div class="card auth-card">
    <div class="position-relative image-side ">
      <p class=" text-white h2">GARK</p>
      <p class="white mb-0">
        Veuillez utiliser vos identifiants pour vous connecter
        <br>Si vous n'êtes pas membre, veuillez
        <a routerLink="/football/user/register" class="white white-underline-link">S'inscrire</a>.
      </p>
    </div>
    <div class="form-side">
      <a class="c-pointer">
        <span class="logo-single"></span>
      </a>
      
      <router-outlet></router-outlet>
  
    </div> 
  </div>
  <simple-notifications></simple-notifications>
  