<div class="card auth-card" >
  <div class="position-relative image-side ">
    <p class=" text-white fw-700 h2">GARK</p>
    <p class="white fw-700 mb-0">
      Veuillez saisir un nouveau mot de passe
      <br>Si vou n'êtes pas un membre veuillez
      <a routerLink="/football/user/register" class="white white-underline-link">s'inscrire</a>.
    </p>
  </div>
  <div class="form-side">
    <a class="c-pointer">
      <span class="logo-single"></span>
    </a>
    <h3 class="mb-4" *ngIf="!isLoading && !hasExpired">Récupérer votre compte</h3>

    <form *ngIf="!isLoading && !hasExpired" #resetForm="ngForm" novalidate (ngSubmit)="onSubmit()">
      <label class="form-group has-float-label">
        <input class="form-control" type="password" placeholder="" required ngModel #newPassword="ngModel"
          name="newPassword" />
        <span>Nouveau mot de passe</span>
        <div *ngIf="!newPassword.valid && resetForm.submitted" class="invalid-tooltip">Le mot de passe est requis!</div>
      </label>
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/football/user/login">Se connecter</a>
        <app-state-button [btnClass]="'btn btn-gradiant btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" click="onLoginClick()">
          REINITIALISER
        </app-state-button>
      </div>
    </form>
    <div *ngIf="!isLoading && hasExpired">
      <h3 class="mb-4" >Une erreur a survenu</h3>
      <p class="text-danger"> {{ message }} </p>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>