<div class="card auth-card">
  <div class="position-relative image-side ">
    <p class=" text-white fw-700 h2">GARK</p>
    <p class="white fw-700 mb-0">
      Veuillez utiliser vos identifiants pour vous connecter
      <br>Si vous n'êtes pas membre, veuillez
      <a routerLink="/football/user/register" class="white white-underline-link">S'inscrire</a>.
    </p>
  </div>
  <div class="form-side">
    <a class="c-pointer">
      <span class="logo-single"></span>
    </a>
    <h3 class="mb-4">Se connecter</h3>

    <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
      <label class="form-group has-float-label">
        <input class="form-control" required email ngModel #email="ngModel" name="email" [(ngModel)]="emailModel" />
        <span>E-mail</span>
        <div *ngIf="!email.valid && loginForm.submitted" class="invalid-tooltip">L'adresse e-mail est requise!</div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" type="password" placeholder="" required ngModel #password="ngModel" name="password"
          [(ngModel)]="passwordModel" />
        <span>Mot de passe</span>
        <div *ngIf="!password.valid && loginForm.submitted" class="invalid-tooltip">Le mot de passe est requis!</div>
      </label>
      <div class="d-flex justify-content-between align-items-center">
        <div id="form-login-remember" class="form-group form-check">
          <input id="modlgn-remember" [(ngModel)]="rememberMe" type="checkbox" name="remember" class="form-check-input"
            value="yes" />
          <label for="modlgn-remember" class="control-label">Souvenir de moi</label>
        </div>
        <app-state-button [btnClass]="'btn btn-gradiant btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" click="onLoginClick()">
          LOGIN
        </app-state-button>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/football/user/forgot-password">Mot de passe oublié?</a>
      </div>
    </form>

  </div>
</div>
<simple-notifications></simple-notifications>