<div class="container" id="main">
    <div class="row justify-content-center">
        <div class="col-md-6" *ngIf="isLoading">
            <h5 class="text-center"> Chargement ... </h5>
        </div>

        <div class="col-md-4" *ngIf="!isLoading && isMobile">
            <ejs-calendar locale='fr-CH' style="max-width: none !important;" #calendar (change)="deposit()"
                [value]='dateValue' start='Week'></ejs-calendar>
        </div>
        <div class="col-md-6" *ngIf="!isLoading && !isMobile">
            <ejs-calendar locale='fr-CH' style="max-width: none !important;" #calendar (change)="deposit()"
                [value]='dateValue' start='Week'></ejs-calendar>
        </div>
        <div class="col-md-4" style="display: flex; flex-direction: column;" *ngIf="!isLoading && !isMobile">
            <div style="margin: auto 0;"></div>
            <div *ngFor="let col of ListTerrain">
                <div style="display: flex">
                    <div class="mr-2" style="display: flex; flex-direction: column;">
                        <div style="width: 15px; height: 15px; border-radius: 50%; margin-top: auto; margin-bottom: auto;"
                            [ngStyle]="{ 'background-color' : col.color }"></div>
                    </div>
                    <div>
                        <h2 style="margin: 0 !important">{{ col.name }}</h2>
                    </div>
                </div>
            </div>
            <div style="margin: auto 0;"></div>
        </div>

        <div class="row mt-3" *ngIf="!isLoading">
            <div class="col-md-12" *ngIf="isMobile">
                <div class="container-fluid">
                    <div class="row">
                        <div *ngFor="let col of terrainsColors; let i = index" class="col-6">
                            <div style="display: flex">
                                <div class="mr-2" style="display: flex; flex-direction: column;">
                                    <div style="width: 15px; height: 15px; border-radius: 50%; margin-top: auto; margin-bottom: auto;"
                                        [ngStyle]="{ 'background-color' : col.color }"></div>
                                </div>
                                <div>
                                    <h2 style="margin: 0 !important">{{ col.nomTerrain }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom: 100px;" *ngIf="!isLoading">
                <ejs-schedule #scheduleObj width='100%' [currentView]="currentViewMode" height='550px'
                    [selectedDate]="selectedDate" [eventSettings]="eventSettings" (actionBegin)="onActionBegin($event)"
                    (eventRendered)="onEventRendered($event)" locale='fr-CH' [timeScale]="timeScale"
                    (popupOpen)="onPopupOpen($event)">
                    <e-views>
                        <e-view option="Day">Jour</e-view>
                        <e-view option="Week">Semaine</e-view>
                        <e-view option="Month">Mois</e-view>
                    </e-views>
                     <!-- Api Editor Template
                    <ng-template #editorTemplate locale='fr-CH' let-data>
                        <table *ngIf="data != undefined" class="custom-event-editor" width="100%" cellpadding="5">
                            <tbody>
                                <tr>
                                    <td class="e-textlabel">Réservation Pour</td>
                                    <td colspan="4">
                                        <input class="e-field e-input" required placeholder="Nom du réservant"
                                            type="text" value="{{data?.Name || data?.name}}" id="Name" name="Name"
                                            style="width: 100%" />
                                    </td>

                                </tr>
                                <tr>
                                    <td class="e-textlabel">Numéro de téléphone</td>
                                    <td colspan="4">
                                        <input class="e-field e-input" required placeholder="Numéro de téléphone"
                                            type="text" value="{{data?.num}}" id="num" name="num" style="width: 100%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="e-textlabel">Prix de réservation</td>
                                    <td colspan="4">
                                        <input class="e-field e-input" required placeholder="Prix de réservation"
                                            type="number" value="{{data?.frais}}" id="frais" name="frais"
                                            style="width: 100%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="e-textlabel">Terrain</td>
                                    <td colspan="4">
                                        <ejs-dropdownlist class="e-field" data-name="terrain"
                                            placeholder='Choisir un terrain' [dataSource]='nomTerrain'
                                            [value]='data?.terrain?.name || data?.terrain'>
                                        </ejs-dropdownlist>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="e-textlabel">A partir de</td>
                                    <td colspan="4">
                                    <app-date-picker  [timeChoosed]="data.StartTime" ></app-date-picker>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="e-textlabel">Jusqu'à</td>
                                    <td colspan="4">
                                        <app-date-picker [timeChoosed]="data.EndTime" ></app-date-picker>
                                    </td>
                                </tr>
                              
                            </tbody>
                        </table>
                    </ng-template> 
                    -->
                </ejs-schedule>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<div id="add-new-reservation" style="display: none;">
    <form #reservForm="ngForm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="modal-title text-center "> Créer une nouvelle réservation </h1>
                </div>
            </div>
        </div>

        <label class="e-textlabel fw-700">Réservation Pour</label>
        <input class="e-field e-input mb-3" required placeholder="Nom du réservant"
            [ngModelOptions]="{standalone: true}" #nomres="ngModel" type="text" id="Name-Mob" name="Name"
            [(ngModel)]="resMobile.Name" style="width: 100%" />
        <div class="text-danger" *ngIf="(nomres.touched || reservForm.submitted ) && nomres.invalid"> Veuillez saisir le
            nom du réservant </div>

        <label class="e-textlabel fw-700 mt-3">Numéro de téléphone</label>
        <input class="e-field e-input mb-3" required [(ngModel)]="resMobile.num" [ngModelOptions]="{standalone: true}"
            required #tele="ngModel" placeholder="Numéro de téléphone" type="text" id="num-mobile" name="num"
            style="width: 100%" />
        <div class="text-danger" *ngIf="tele.touched || reservForm.submitted">
            <div *ngIf="tele.invalid">
                Veuillez saisir un numéro de téléphone
            </div>
            <div *ngIf="!validateNumber() && tele.valid">
                Veuillez saisir un numéro de téléphone valide
            </div>
        </div>

        <label class="e-textlabel fw-700 mt-3">Prix de réservation</label>
        <input class="e-field e-input mb-3" required [(ngModel)]="resMobile.frais" placeholder="Prix de réservation"
            type="number" #pri="ngModel" [ngModelOptions]="{standalone: true}" required name="frais"
            style="width: 100%" />
        <div class="text-danger" *ngIf="pri.touched || reservForm.submitted">
            <div *ngIf="pri.invalid">
                Veuillez saisir un frais
            </div>
        </div>
        <label class="e-textlabel fw-700 mt-3">Terrain</label>
        <ejs-dropdownlist class="e-field" data-name="terrain" placeholder='Choisir un terrain'
            [ngModelOptions]="{standalone: true}" (change)="TerrainChanged($event)" [dataSource]='nomTerrain'
            [(ngModel)]='resMobile.terrain'>
        </ejs-dropdownlist>
        <div class="text-danger" *ngIf="notSelected && reservForm.submitted">
            Veuillez Sélectionner un terrain
        </div>

        <div class="form-group mb-3">
            <label class="e-textlabel fw-700 mt-3">A partir de</label>
            <app-date-picker (valueChange)="getStartTime($event)" [timeChoosed]="resMobile.StartTime" ></app-date-picker>
        </div>

        <div class="form-group mb-3">
            <label class="e-textlabel fw-700 mt-3">Jusqu'à</label>
            <app-date-picker [timeChoosed]="resMobile.EndTime" ></app-date-picker>
        </div>


        <div class="text-danger" *ngIf="already">
            Terrain indisponible à cette heure
        </div>

        <div class="mt-3" style="display: flex; width: 100%">
            <div>
                <button class="btn btn-lg btn-shadow btn-danger" (click)="closeModal()"> Annuler
                </button>
            </div>
            <div style="margin: 0 auto;"></div>
            <div>

                <app-state-button [btnClass]="'btn btn-gradiant btn-lg btn-shadow'" [currentState]="buttonState"
                    [isDisabled]="buttonDisabled || reservForm.invalid" (click)="onSubmit()">
                    Créer
                </app-state-button>
            </div>
        </div>
    </form>
</div>

<div id="fixedbutton">
    <button mat-fab *ngIf="isMobile" (click)="openAddReservationMobile()" class="btn btn-gradiant">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-fab *ngIf="!isMobile" (click)="addReservationDialog()" class="btn btn-gradiant">
        <mat-icon>add</mat-icon>
    </button>
</div>