
            <div class="section home" style="padding-bottom: 0;">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-block d-md-none">
                            
                                <img alt="mobile hero" class="mobile-hero" style="width: calc(100%);"
                                    src="/assets/imgs/home/Gark-Entry-1.png" />
                            
                        </div>
 
                        <div class="col-12 col-xl-5 col-lg-5 col-md-6 texting">
                            <div style="margin: auto 0;"></div>
                            <div class="home-text">
                                <p class="black mb-2">
                                    Gérez vos terrains efficacement et simplement n'importe où vous soyez
                                </p>
                            </div>
                            <div class="home-subtext">
                                <p class="black mb-4" style="text-align: justify;">
                                    Gark vous offre tout un tableau de bord pour une meilleure gestion de vos
                                    réservations,
                                    de vos événements et de vos finances.
                                </p>

                                <a (click)="scrollTo('#features')" class="btn btn-danger btn-lg"
                                    href="javascript:;">Savoir plus</a>
                            </div>
                            <div style="margin: auto 0;"></div>
                        </div>
                        <div class="col-12 col-xl-7 col-lg-7 col-md-6 d-none d-md-block">
                            <a>
                                <img alt="hero" style="width: calc(100%); display: block; margin: auto;" alt="gérer vos réservations" src="/assets/imgs/home/Gark-Entry-1.png" />
                            </a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="section home" style="padding-top: 0; padding-bottom: 0;">
                <div class="container">
                    <div class="row" >
                        <!-- <div class="col-lg-1 col-xl-1"></div> -->
                        <div class="col-12" *ngIf="isMobile">
                            <a>
                                <img alt="hero" style="width: calc(70%); display: block; margin: auto;" alt="ganger votre temps"  src="/assets/imgs/home/gark-page-2.png" />
                            </a>
                        </div>
                        <div class="col-12 col-xl-7 col-lg-7 col-md-6  d-none d-md-block">
                            <a>
                                <img alt="hero" style="width: calc(70%); display: block; margin: auto;" alt="ganger votre temps"  src="/assets/imgs/home/gark-page-2.png" />
                            </a>
                        </div>

                        <div class="col-12 col-xl-5 col-lg-5 col-md-6" style="display: flex; flex-direction: column;">
                            <div style="margin: auto 0;"></div>
                            <div class="home-text">
                                <p class="black mb-2">
                                    Regagnez votre temps
                                </p>
                            </div>
                            <div class="home-subtext">
                                <p class="black mb-4" style="text-align: justify;">
                                    GARK vous offre les outils nécessaires pour vous permettre de mieux organiser vos
                                    réservations et planning grâce à nos calendriers.
                                </p>

                                <a [routerLink]="'/contact'" class="btn btn-danger btn-lg">Contactez-nous</a>
                            </div>
                            <div style="margin: auto 0;"></div>
                        </div>
                       
                    </div>


                </div>
            </div>

            <div class="section home" style="padding-bottom: 0;">
                <div class="container" >
                    <div class="row">
                        <div class="col-12" *ngIf="isMobile">
                            <a>
                                <img alt="hero" style="width: calc(70%); display: block; margin: auto;" alt="augmenter vos bénifices" src="/assets/imgs/home/gark-page-4.png" />
                            </a>
                        </div>
                        <div class="col-12 col-xl-5 col-lg-5 col-md-6 texting">
                            <div style="margin: auto 0;"></div>
                            <div class="home-text">
                                <p class="black mb-2">
                                    Boostez vos revenus
                                </p>
                            </div>
                            <div class="home-subtext">
                                <p class="black mb-4" style="text-align: justify;">
                                    Suivez vos performances en temps réel à travers les statistiques pour mieux 
                                    analyser vos données.
                                </p>

                                <a [routerLink]="'/football/user/register'" class="btn btn-danger btn-lg">
                                    Rejoignez-nous
                                </a>
                            </div>
                            <div style="margin: auto 0;"></div>
                        </div>
                        <div class="col-12 col-xl-7 col-lg-7 col-md-6  d-none d-md-block">
                            <a>
                                <img alt="hero" style="width: calc(70%); display: block; margin: auto;" alt="augmenter vos bénifices" src="/assets/imgs/home/gark-page-4.png" />
                            </a>
                        </div>
                    </div>


                </div>
            </div>
