
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-md-6 footer-info">
                    <!--
                    <img src="img/logo.png" alt="daltons">
                    <a style="color: #fff; font-size: 36px; font-family: Raleway; padding: 30px;">Daltons</a>
                    -->
                    <a class="perspective white" >A propos</a>
                    <p>
                        GARK est une startup spécialisée dans la sportech qui vise à développer le football en particulier grâce à ses solutions digitales innovantes.
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links"></div>


                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contactez-nous</h4>
                    <p>
                        Z.I. Chotrana II B.P. 160  <br>
                        Pôle technologique El Ghazela <br>
                        Ariana 2083 - Tunisia <br>
                        <strong>Phone: </strong>  +216 96 041 995<br>
                        <strong>Email: </strong>  gark.assistance@gmail.com<br>
                    </p>

                    <div class="social-links">
                        <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> -->
                        <a href="https://www.facebook.com/GARKTunisie" rel="noreferrer" target="_blank" class="facebook"><span class="material-icons" >  facebook </span></a>
                        <a href="https://www.instagram.com/GARK.app/" rel="noreferrer" target="_blank" class="instagram"><img src="/assets/imgs/instagram.svg" alt="instagram icon"></a>
                        <!-- <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
                    </div> 

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright black fw-700">
            Tous droits réservés © <strong class="fw-800">GARK</strong> -{{ year }}
        </div>
    </div>
</footer>